<div>

    <h1>Five Most Recent Matches</h1>
    <p>Player <%= @player_id %></p>


    <% @matches.each do |match| %>
    <a href="#">match[:id]</a>
    <h3>Match <strong><%= match[:id] %></strong></h3> 
        <span style="color:gray"><i><%= distance_of_time_in_words_to_now(Time.at(match[:start].to_i)) %> ago</i></span>
        <table class="table table-bordered">
            <tr>
                <td colspan="3">The Radiant</td>
            </tr>
            <tr>
                <th>Player Color</th>
                <th>Player ID</th>
                <th>Hero</th>
            </tr>
            <% match[:radiant].each do |player| %>
                <tr>
                    <td><%= lookup_player_color(player['player_slot']) %></td>
                    <td><%= player['account_id'] %></td>
                    <td><%= lookup_hero_name(player['hero_id']) %> </td>
                </tr>
            <% end %>


            <tr>
                <td colspan="3">The Dire</td>
            </tr>
            <tr>
                <th>Player Slot</th>
                <th>Player ID</th>
                <th>Hero ID</th>
            </tr>
            <% match[:dire].each do |player| %>
                <tr>
                    <td><%= lookup_player_color(player['player_slot']) %></td>
                    <td><%= player['account_id'] %></td>
                    <td><%= lookup_hero_name(player['hero_id']) %> </td>
                </tr>
            <% end %>
        </table>
    <% end %>
</div>
